ADMIN_PROD_API_URL=https://api.stockaisle.com/api
EXPO_PUBLIC_API_URL=https://api.stockaisle.com/api
EXPO_PUBLIC_CONVERSATIONAL_ENGINE_URL=https://engine.stockaisle.com
EXPO_PUBLIC_ENABLE_MFA=false
EXPO_PUBLIC_PLATFORM_HOSTNAME=master.stockaisle.com
EXPO_PUBLIC_PORTAL_MODE=platform
EXPO_PUBLIC_SSO_URL=
