ADMIN_DEV_API_URL=http://localhost:4000/api
ADMIN_BROWSERSTACK_API_URL=https://api.stockaisle.com/api
ADMIN_PROD_API_URL=https://api.stockaisle.com/api
EXPO_PUBLIC_API_URL=https://api.stockaisle.com/api
EXPO_PUBLIC_CONVERSATIONAL_ENGINE_URL=https://engine.stockaisle.com
EXPO_PUBLIC_ENABLE_MFA=false
EXPO_PUBLIC_SSO_URL=
