aws_region                  = "eu-west-2"
project                     = "stockaisle"
environment                 = "prod"
domain_name                 = "stockaisle.com"
route53_zone_name           = "stockaisle.com"
github_repository           = "shristiit/ecom"
existing_vpc_id            = "vpc-xxxxxxxxxxxxxxxxx"
existing_public_subnet_ids_csv = "subnet-xxxxxxxxxxxxxxxxx,subnet-yyyyyyyyyyyyyyyyy"
existing_rds_security_group_id = "sg-xxxxxxxxxxxxxxxxx"
alarm_email                 = "alerts@stockaisle.com"
